
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.todo-item input.complete {
  text-decoration: line-through;
}

.todo-actions button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mat-form-field {
  width: calc(100% - 150px);
}